<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">

    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body class="stadium-bg">


    <div class="container">
    <h1>Edit Your Post About <%= post.player_id.name %></h1>

    <div>
        <img src="<%= post.player_id.image %>" alt="<%= post.player_id.name %>" width="150">
        <p><strong>Team:</strong> <%= post.player_id.team %></p>
        <p><strong>Era:</strong> <%= post.player_id.era %></p>
    </div>

    <form action="/posts/<%= post._id %>/edit" method="POST">
        <label for="content">Post Content:</label><br>
        <textarea id="content" name="content" rows="6" cols="50" required><%= post.content %></textarea>
        <br><br>
        <button type="submit">Update Post</button>
    </form>

    <br>
    <a href="/dashboard"><button>Home</button></a>
</div>
</body>
</html>
